/* General stylings */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 150%;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #777;
  -webkit-transition: color 500ms;
     -moz-transition: color 500ms;
      -ms-transition: color 500ms;
       -o-transition: color 500ms;
          transition: color 500ms;
}

a.no-color {
  color: #111;
}

a:hover {
  color: #f81c36;
}

/* Major layout */

#sidebar {
  position: absolute;
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 4%;
}

#content {
  position: absolute;
  width: 70%;
  height: 100%;
  margin-left: 30%;
  padding: 4%;
}

/* Link colors */

#twitter:hover {
  color: #00aced;
}

#github:hover {
  color: #4183c4;
}

#projects a:hover {
  color: #1a80f7;
}

/* Lighting Design */

.lightbox {
  background: #111;
  color: #fff;
  width: 100%;
  height: 100%;
}
