/* General stylings */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 150%;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

p {
  color: #111;
  margin: 0;
}

a {
  text-decoration: none;
  color: #777;
  -webkit-transition: color 500ms;
     -moz-transition: color 500ms;
      -ms-transition: color 500ms;
       -o-transition: color 500ms;
          transition: color 500ms;
}

a.no-color {
  color: #111;
}

a:hover {
  color: #f81c36;
}

/* Major layout */

.sidebar {
  position: fixed;
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 4%;
}

.content {
  position: absolute;
  margin-left: 30%;
  width: 70%;
  min-height: 100%;
  padding: 4%;
}

/* Link colors */

#twitter:hover {
  color: #00aced;
}

#github:hover {
  color: #4183c4;
}

#projects a:hover {
  color: #1a80f7;
}

/* Lighting Design */

@keyframes darken {
  0%   { background: #fff; color: #000; }
  30%  { background: #111; color: #000; }
  100% { background: #111; color: #fff; }
}

@-webkit-keyframes darken {
  0%   { background: #fff; color: #000; }
  30%  { background: #111; color: #000; }
  100% { background: #111; color: #fff; }
}

.lightbox {
  background: #111;
  color: #fff;
  -webkit-animation: darken both 3s 1s;
          animation: darken both 3s 1s;
}

.map {
  height: 100%;
  padding: 0;
}

/* Maps */

#map-canvas {
  height: 100%;
}
