<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %} Taylor Trimble</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Taylor Trimble's blog, projects page, and contact information.">
    <meta name="author" content="Taylor Trimble">

    <!-- Le styles -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>

    <div class="sidebar">
      <img src="https://www.gravatar.com/avatar/97cc81af8f8bfe8472ffd956030ba8a2?s=330">
      <p><a class="no-color" href="/"><h1>Taylor Trimble</h1></a></p>
      <p><a class="twitter-link" href="http://twitter.com/tylrtrmbl">Twitter</a> | <a class="github-link" href="http://twitter.com/tylrtrmbl">GitHub</a></p>
      <p>I'm a projects guy.</p>
    </div>

    <div class="content {{ page.content-class }}">
      {{ content }}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
